docs/* linguist-documentation=false
docs/docsify/* linguist-documentation=true
practise/* linguist-documentation=false

*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false
